<div class="mainHeader sticky d-flex justify-content-between align-items-center px-3 py-2">
  <div class="fit-content  d-flex align-items-center">
    <h3 class="ps-4 mb-0 headerTitle" (click)="toggleNav()">GraphLoom</h3>
  </div>
  <div class="fit-content d-flex">
    <div class="row d-flex align-items-center">
      <div class="col-auto">
        <img src="assets/user-placeholder.webp" alt="user" class="userIcon">
      </div>
      <div class="col-auto d-flex flex-column align-items-start justify-content-around">
        <p class="mb-0 username">{{userData.name}}</p>
        <p class="mb-0 userrole">{{userData.org}} - {{userData.role}}</p>
      </div>
      <div class="col-auto secondaryText">
        <fa-icon [icon]=downArrow class="pe-2"></fa-icon>
      </div>
    </div>
  </div>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" class="sidenav" [(opened)]="isNavOpen">
    <nav class="nav-list">
      <button 
        class="primary-font main-btn px-3 py-2" 
        *ngFor="let item of navItems"
        [routerLink]="item.route" 
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">
        <fa-icon [icon]="item.icon!" class="pe-2"></fa-icon>
        {{ item.label }}
    </button>
    </nav>
  </mat-sidenav>
  
  <mat-drawer-content class="m-0">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-sidenav-container>
