<div class="container mt-3 mx-1" style="max-width: 99999px !important;">
    <div class="row d-flex justify-content-center mb-3">
        <div class="col-3">
        </div>
        <div class="col-9">
            <nz-select 
                [(ngModel)]="selectedGraphId" 
                nzPlaceHolder="Select a Graph" 
                class="w-50" 
                (ngModelChange)="onDropdownSelectionChange($event)">
                <nz-option 
                    *ngFor="let item of graphs; trackBy: trackById" 
                    [nzValue]="item.graph_id" 
                    [nzLabel]="item.name">
                </nz-option>
            </nz-select>  
        
            @if(selectedGraphId != null) {
                <button (click)="createNewConversation()"
                    nz-button nzType="primary"
                    class="ms-2">
                    {{ "New Conversation" }} <fa-icon [icon]="plusIcon" class="ms-2"></fa-icon>
                </button>
            }
        </div>
    </div>
    @if(selectedGraphId != null && selectedGraphId != undefined) {
        <div class="row d-flex h-100" style="width: 100% !important;">
            <div class="col-2 d-flex flex-column h-100 align-items-start">
                <h5 class="primary-font history-title text-center">Conversations</h5>
                @for(item of conversations; track item) {
                    <button (click)="onConversationSelection(item.conversation_id)"
                        class="primary-font main-btn px-3 py-1 my-1 history-btn" 
                        [ngClass]="{'active-link': item.conversation_id === selectedConversationId}">
                        {{ item.name }}
                    </button>
                }
            </div>
            <div class="col-10 h-100">
                <div class="container chat-container">
                    <div class="container chat-messages">
                        @for(item of history; track item) {
                            <div class="row d-flex h-auto justify-content-end">
                                <div class="col-6 user-message m-4 px-4 py-2">
                                    <p class="mb-0" [innerHTML]="item.user"></p>
                                </div>
                            </div>
                            @if(item.assistant != null && item.assistant != undefined) {
                                <div class="row d-flex justify-content-start me-4 ms-2 assistant-message">
                                    <p class="mb-0" [innerHTML]="formatText(item.assistant)"></p>
                                </div>
                            }
                        }
                        @if(isTyping) {
                            <div class="row d-flex justify-content-start me-4 ms-2">
                                <div class="typing-indicator">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row message-input m-2 d-flex justify-content-center">
                        <div class="col-11">
                            <input type="text" [(ngModel)]="userMessage" class="user-text-input w-100" placeholder="Enter your message...">
                        </div>
                        <div class="col-1 p-0">
                            <button class="chat-send-button" (click)="sendMessage()"> 
                                <fa-icon [icon]="sendIcon"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>